html {
    height: 100%;
    font-size: $font-size-base;
}
body, section, .container, .container-fluid, .row {
    position: relative;
}
body {
    height: 100%;
    font-size: 1rem;
    color: $gray-dark;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}
.container {
    width: 90%;
    max-width: 1200px;
    &-fluid {
        width: 100%;
    }
}
main {
    z-index: 1;
}
footer {
    position: fixed;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
.tooltip {
    position: absolute;
    top: 50%;
    left: calc(100% + 1rem);
    z-index: 1;
    width: 300px;
    padding: 1rem;
    border-radius: 25px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.1s;
    &__toggle {
        position: relative;
        text-decoration: dotted underline;
        cursor: help;
        &:hover {
            .tooltip {
                opacity: 1;
            }
        }
    }
}
.footer-window {
    pointer-events: none;
}
.contact {
    &__links {
        text-align: left;
        @include breakpoint(lg) {
            text-align: center;
        }
    }
    &__linkedin, &__github {
        .fa {
            font-size: 1.5rem;
        }
    }
    &__linkedin {
        margin-right: 32px;
        &:hover {
            color: #0077b5;
        }
    }
    &__github {
        &:hover {
            color: #4078c0;
        }
    }
}
