// Fonts
$font-size-base: 16px;
$font-serif: 'Fanwood Text', Georgia, serif;
$font-sans-serif: 'Source Sans Pro', Helvetica, sans-serif;

// Colors
$white: #fff;
$black: #000;
$gray-dark: #424242;
$blue: darken(#4F7CA8, 10%);
$brown: #99614C;
